@tailwind base;
@tailwind components;
@tailwind utilities;


#images {
    background-image: url("./../../public/7.png") !important;
}

#images1 {
    background-image: url("./../../public/8.png");
}

.hello {
    display: flex;

}