* {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

body {
    /* background-image: url("../images/background_web2.png"); */
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Space Grotesk", sans-serif;
    padding: 15px;
}

.banner-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    border-width: 5px;
    border-color: #e2c2ff !important;
    border-radius: 10px;
    border: solid;
}

.banner-section img {
    width: 100%;
    height: 44rem;
    border-radius: 10px;
}

.contact-us-text {
    background-color: #e2c2ff;
    color: white;
    font-size: 40px;
    padding: 20px 40px;
    border-radius: 20px;
    cursor: pointer;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.intro-text {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin-top: 20px;
}

.icons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 40px;
}

.icon-border img{
    border-radius: 50%;
    border-width: 1px;
    border: solid;
    border-color: #e2c2ff;
    padding: 2px;
}


.history {
    margin-top: 40px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
}

.history-text {
    width: 40%;
    color: white;
}